.App {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin:2em;
  background-color: #c2c9d8;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-lat-long-container {
  display: flex;
  flex-direction: 'column';
  align-items: center;
  justify-content: center;
  gap: 4vb;
  margin-bottom: 12vb;
  background-color: #dae3f7;
  padding: 2vb;
}

.App-lat-long {
  display: flex;
  flex-direction: 'row';
  gap: 4vb;
}

.App-text-label {
  font-weight: 600;
}

.App-input-text {
  border-color: rgb(55, 55, 237);
  border-width: 1px;
}

.Submit-button {
  width: max-content;
  padding: 1em;
  background-color: cornflowerblue;
  border-radius: 4px;
  border-color: cornflowerblue;
  color: #ffffff;
}
#map {
  height: 100%;
}
.Spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}